project:
  type: website

website:
  title: "IPMs: From field data collection to model construction and analysis"
  navbar:
    left:
      - apply.qmd
      - faq.qmd
      - href: https://www.rmbl.org/
        text: "Venue: RMBL"
      - schedule.qmd
      - content.qmd
  search: 
    location: navbar
    type: overlay

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual

execute:
  freeze: auto